In [1]:
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import os
import requests

In [2]:
load_dotenv()

True

In [11]:
os.getcwd()

'/Users/taylorlittle/Documents/Bootcamp'

In [4]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# alpaca_api_key = 'PKPFUAK8S90Y1NPMPL7E'
# alpaca_secret_key = 'vedkRNeU9nDHkPE1CBQTmwdYIpUDE1GKNLLVUuai'

In [5]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
ticker = 'ADD'

In [7]:
start_date = pd.Timestamp("2023-04-06", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-04-13", tz="America/New_York").isoformat()
timeframe = "1Day"

In [9]:
df_portfolio = alpaca.get_bars(
    ticker,
    timeframe,
    start = start_date,
    end = end_date
).df

In [10]:
df_portfolio

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2023-04-06 04:00:00+00:00,1.85,1.8785,1.81,1.8600,62023,242,1.846430
2023-04-10 04:00:00+00:00,1.83,2.0000,1.83,1.9343,67084,468,1.928132
2023-04-11 04:00:00+00:00,1.98,2.0000,1.91,1.9900,42481,263,1.967191
2023-04-12 04:00:00+00:00,2.04,2.0800,1.92,1.9300,76748,430,2.000411
2023-04-13 04:00:00+00:00,1.98,2.0801,1.98,2.0700,25804,233,2.046312

In [ ]:
#scrape data from Reddit